@model List<WebCMS.Models.LabTestCategory>

<thead class="table-light">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
    </tr>
</thead>
<tbody>
    @foreach (var test in Model)
    {
        <tr>
            <td>
                <a asp-action="LabTestsByCategory" asp-route-catId="@test.Id"
                   class="text-decoration-none text-primary fw-bold">
                    @test.Name
                </a>
            </td>
            <td class="text-muted" style="max-width: 300px; white-space: normal; word-wrap: break-word;">
                @test.Description
            </td>
        </tr>
    }
</tbody>