
@{
    ViewData["Title"] = "Lab";
    
}


<h1 class="text-center">Working on this section</h1>

@if (Model != null)
{
    foreach(var result in Model)
    {
        <p>Value:@result.LabTestName</p>
    }
}
<a asp-action="LabOrders" class="btn btn-success">Orders</a>
<a asp-action="LabResults" class="btn btn-primary">LabResults</a>
<a asp-action="LabTests" class="btn btn-dark">Tests</a>
