@model List<LabTestResult>;

@if (Model != null && Model.Any())
{


    <table class="table table-bordered">
        <tr>

            <th>Patient</th>
            <th>Test Name</th>
            <th>Remark</th>
            <th>Result</th>

        </tr>
        @foreach (var result in Model)
        {
            <tr>
                <td>@result.LapOrder.Patient.FullName</td>
                <td>@result.LabTest.Id</td>
                <td>@result.Remark</td>
                <td>@result.Result</td>
            </tr>


        }

    </table>


}
