
@{
}

<form asp-action="NewTest" method="post" class="form-control">
    <label class="label" for="TestName">Test Name</label>
    <input type="text" name="TestName" id="TestName" class="form-control" required />
    <label class="label" for="Unit">Unit</label>
    <input type="text" name="Unit" id="Unit" class="form-control"  />
    <label class="label" for="ReferenceRange">Reference Range</label>
    <input type="text" name="ReferenceRange" id="ReferenceRange" class="form-control"  />
    <label class="label" for="TestCategory">Test Category</label>
    <input type="text" name="TestCategory" id="TestCategory" class="form-control"  />

    <button type="submit" class="btn btn-primary m-5">Create Test</button>




</form>
