@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Lab Reports";
}


<h1>Lab Results</h1>
<p>Here you can view and manage lab reports for the appointment.</p>
<h3>if no results you must connect the Lab computer to the database on this server to gather tha data !</h3>

