@model List<WebCMS.Models.Prescription>



<div class="list-group">

    @if (Model != null && Model.Any())
    {
        foreach (var p in Model)
        {
            <div class="list-group-item">
                <div class="d-flex justify-content-between">
                    <div>
                        <strong>@p.MedicationName</strong> (@p.Dosage)
                        <div class="text-muted">@p.ForDiseases</div>
                    </div>
                    <span class="badge bg-secondary">@p.Status</span>
                </div>
            </div>
        }
    }

    else
    {

        <p>No Medication History found</p>
    }

</div>