


<ul class="list-group list-group-flush">

    <li class="list-group-item d-flex justify-content-between align-items-center">
        Hypertension (diagnosed 2018)
        <span class="badge bg-primary">Active</span>
    </li>

</ul>
