@model Patient;


<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label class="form-label">Smoking</label>
            <div class="fw-bold">@Model.Smoking</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Alcohol</label>
            <div class="fw-bold">@Model.Alcohol</div>
        </div>
    </div>
    <div class="col-6">
        <div class="mb-3">
            <label class="form-label">Exercise</label>
            <div class="fw-bold">@Model.SporExercise</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Occupation</label>
            <div class="fw-bold">@Model.Occupation</div>
        </div>
    </div>
</div>
